/*
.*
!/res/
!/src/
!/third_party/
!/.clangd
!/.clang-format
!/.clang-tidy
!/.gitattributes
!/.gitignore
!/.gitmodules
!/CMakeLists.txt
!/CMakePresets.json
!/conan.profile
!/conanfile.txt
!/license.txt
!/readme.md
